extends ../layouts/default
block intro
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title About Us
                p Why our Clients love to work with us.

    // /#page-breadcrumb
block content	    
    section#company-information.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='300ms')
      .container
        .row
          .col-sm-6
            img.img-responsive(src='images/aboutus/1.png', alt='')
          .col-sm-6.padding-top
            p
              | Shoulder bresaola sausage consequat ground round duis excepteur exercitation landjaeger sunt. Duis officia sed frankfurter dolore pastrami tenderloin.
            p
              | When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
    section#services
      .container
        .row
          .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='300ms')
            .single-service
              .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='300ms')
                img(src='images/home/icon1.png', alt='')
              h2 Incredibly Responsive
              p
                | Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.
          .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='600ms')
            .single-service
              .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='600ms')
                img(src='images/home/icon2.png', alt='')
              h2 Superior Typography
              p
                | Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.
          .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='900ms')
            .single-service
              .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='900ms')
                img(src='images/home/icon3.png', alt='')
              h2 Swift Page Builder
              p
                | Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.
    // /#services
    section#action.responsive
      .vertical-center
        .container
          .row
            .action.take-tour
              .col-sm-7.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='300ms')
                h1.title Triangle Corporate Template
                p A responsive, retina-ready & wide multipurpose template.
              .col-sm-5.text-center.wow.fadeInRight(data-wow-duration='500ms', data-wow-delay='300ms')
                .tour-button
                  a.btn.btn-common(href='#') TAKE THE TOUR
    // /#action
    section#team
      .container
        .row
          h1.title.text-center.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='300ms') Meet the Team
          p.text-center.wow.fadeInDown(data-wow-duration='400ms', data-wow-delay='400ms')
            | Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            br
            |                 Ut enim ad minim veniam, quis nostrud
          #team-carousel.carousel.slide.wow.fadeIn(data-ride='carousel', data-wow-duration='400ms', data-wow-delay='400ms')
            // Indicators
            ol.carousel-indicators.visible-xs
              li.active(data-target='#team-carousel', data-slide-to='0')
              li(data-target='#team-carousel', data-slide-to='1')
            // Wrapper for slides
            .carousel-inner
              .item.active
                .col-sm-3.col-xs-6
                  .team-single-wrapper
                    .team-single
                      .person-thumb
                        img.img-responsive(src='images/aboutus/1.jpg', alt='')
                      .social-profile
                        ul.nav.nav-pills
                          li
                            a(href='#')
                              i.fa.fa-facebook
                          li
                            a(href='#')
                              i.fa.fa-twitter
                          li
                            a(href='#')
                              i.fa.fa-google-plus
                    .person-info
                      h2 John Doe
                      p CEO & Developer
                .col-sm-3.col-xs-6
                  .team-single-wrapper
                    .team-single
                      .person-thumb
                        img.img-responsive(src='images/aboutus/2.jpg', alt='')
                      .social-profile
                        ul.nav.nav-pills
                          li
                            a(href='#')
                              i.fa.fa-facebook
                          li
                            a(href='#')
                              i.fa.fa-twitter
                          li
                            a(href='#')
                              i.fa.fa-google-plus
                    .person-info
                      h2 John Doe
                      p CEO & Developer
                .col-sm-3.col-xs-6
                  .team-single-wrapper
                    .team-single
                      .person-thumb
                        img.img-responsive(src='images/aboutus/3.jpg', alt='')
                      .social-profile
                        ul.nav.nav-pills
                          li
                            a(href='#')
                              i.fa.fa-facebook
                          li
                            a(href='#')
                              i.fa.fa-twitter
                          li
                            a(href='#')
                              i.fa.fa-google-plus
                    .person-info
                      h2 John Doe
                      p CEO & Developer
                .col-sm-3.col-xs-6
                  .team-single-wrapper
                    .team-single
                      .person-thumb
                        img.img-responsive(src='images/aboutus/1.jpg', alt='')
                      .social-profile
                        ul.nav.nav-pills
                          li
                            a(href='#')
                              i.fa.fa-facebook
                          li
                            a(href='#')
                              i.fa.fa-twitter
                          li
                            a(href='#')
                              i.fa.fa-google-plus
                    .person-info
                      h2 John Doe
                      p CEO & Developer
              .item
                .col-sm-3.col-xs-6
                  .team-single-wrapper
                    .team-single
                      .person-thumb
                        img.img-responsive(src='images/aboutus/4.jpg', alt='')
                      .social-profile
                        ul.nav.nav-pills
                          li
                            a(href='#')
                              i.fa.fa-facebook
                          li
                            a(href='#')
                              i.fa.fa-twitter
                          li
                            a(href='#')
                              i.fa.fa-google-plus
                    .person-info
                      h2 John Doe
                      p CEO & Developer
                .col-sm-3.col-xs-6
                  .team-single-wrapper
                    .team-single
                      .person-thumb
                        img.img-responsive(src='images/aboutus/3.jpg', alt='')
                      .social-profile
                        ul.nav.nav-pills
                          li
                            a(href='#')
                              i.fa.fa-facebook
                          li
                            a(href='#')
                              i.fa.fa-twitter
                          li
                            a(href='#')
                              i.fa.fa-google-plus
                    .person-info
                      h2 John Doe
                      p CEO & Developer
                .col-sm-3.col-xs-6
                  .team-single-wrapper
                    .team-single
                      .person-thumb
                        img.img-responsive(src='images/aboutus/2.jpg', alt='')
                      .social-profile
                        ul.nav.nav-pills
                          li
                            a(href='#')
                              i.fa.fa-facebook
                          li
                            a(href='#')
                              i.fa.fa-twitter
                          li
                            a(href='#')
                              i.fa.fa-google-plus
                    .person-info
                      h2 John Doe
                      p CEO & Developer
                .col-sm-3.col-xs-6
                  .team-single-wrapper
                    .team-single
                      .person-thumb
                        img.img-responsive(src='images/aboutus/1.jpg', alt='')
                      .social-profile
                        ul.nav.nav-pills
                          li
                            a(href='#')
                              i.fa.fa-facebook
                          li
                            a(href='#')
                              i.fa.fa-twitter
                          li
                            a(href='#')
                              i.fa.fa-google-plus
                    .person-info
                      h2 John Doe
                      p CEO & Developer
            // Controls
            a.left.team-carousel-control.hidden-xs(href='#team-carousel', data-slide='prev') left
            a.right.team-carousel-control.hidden-xs(href='#team-carousel', data-slide='next') right
    // /#team
