extends ../layouts/default
include ../mixins/post-timeline
block intro
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title Blog
                p Timeline
    // /#page-breadcrumb
block content    
    section#blog.padding-bottom
      .container
        .row
          each group, k in data.postGroups
            .timeline-blog.overflow
              .timeline-date.text-center
                a.btn.btn-common.uppercase(href='')= group.name
              .timeline-divider.overflow.padding-bottom
                -
                  var classesleft = "padding-right arrow-right fadeInLeft";
                  var classesRight = "padding-left padding-top arrow-left fadeInRight";
                each post, i in group.posts
                  .col-sm-6.wow(data-wow-duration='1000ms', data-wow-delay='300ms', class=(i%2 == 0 ? classesleft : classesRight))
                    +post-timeline(post)
              if k >= data.postGroups.length - 1
                .timeline-date.text-center
                  a.btn.btn-common(href='#') See More
    // /#blog
append footer
    script(type='text/javascript', src='js/jquery.dotdotdot.min.js')
block js
    script.
        $(document).ready(function() {
            $(".truncate").dotdotdot({
                //	configuration goes here
            });
        });