extends ../layouts/default
block intro    
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title Blog
                p Blog with left sidebar
    // /#action
block content    
    section#blog.padding-top.padding-bottom
      .container
        .row
          .masonery_area
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/1.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  audio(src='audio/juicy.mp3', preload='auto')
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                    li
                      a(href='#')
                        i.fa.fa-clock-o
                        | 14 Feb
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/6.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/8.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/4.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  audio(src='audio/juicy.mp3', preload='auto')
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                    li
                      a(href='#')
                        i.fa.fa-clock-o
                        | 14 Feb
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/2.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/10.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/7.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/5.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
            .col-md-3.col-sm-4
              .single-blog.two-column
                .post-thumb
                  a(href='blogdetails.html')
                    img.img-responsive(src='images/blog/masonary/9.jpg', alt='')
                  .post-overlay
                    span.uppercase
                      a(href='#')
                        | 14 
                        br
                        small Feb
                .post-content.overflow
                  ul.nav.nav-justified.post-nav
                    li
                      a(href='#')
                        i.fa.fa-tag
                        | Creative
                  h2.post-title.bold
                    a(href='blogdetails.html') Advanced business cards design
                  h3.post-author
                    a(href='#') Posted by micron News
                  p
                    | Duis autem vel eum iriure dolor in hendrerit in blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                  a.read-more(href='#') View More
                  .post-bottom.overflow
                    ul.nav.nav-justified.post-nav
                      li
                        a(href='#')
                          i.fa.fa-heart
                          | 32 Love
                      li
                        a(href='#')
                          i.fa.fa-comments
                          | 3 Comments
    // /#blog
append footer
    script(type='text/javascript', src='js/audio.min.js')
    script.
      audiojs.events.ready(function() {
      var as = audiojs.createAll();
      });
    script(type='text/javascript', src='js/masonry.min.js')
    script(type='text/javascript', src='js/main.js')