extends ../layouts/default
block intro
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title Blog
                p Timeline
    // /#page-breadcrumb
block content    
    section#blog.padding-bottom
      .container
        .row
          .timeline-blog.overflow.padding-top
            .timeline-date.text-center
              a.btn.btn-common.uppercase(href='#') November 2013
            .timeline-divider.overflow.padding-bottom
              .col-sm-6.padding-right.arrow-right.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                .single-blog.timeline
                  .single-blog-wrapper
                    .post-thumb
                      img.img-responsive(src='images/blog/timeline/1.jpg', alt='')
                      .post-overlay
                        span.uppercase
                          a(href='#')
                            | 14 
                            br
                            small Feb
                  .post-content.overflow
                    h2.post-title.bold
                      a(href='blogdetails.html') Advanced business cards design
                    h3.post-author
                      a(href='#') Posted by micron News
                    p
                      | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                    a.read-more(href='#') View More
                    .post-bottom.overflow
                      span.post-date.pull-left February 11, 2014
                      span.comments-number.pull-right
                        a(href='#') 3 comments
              .col-sm-6.padding-left.padding-top.arrow-left.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms')
                .single-blog.timeline
                  .single-blog-wrapper
                    .post-thumb
                      img.img-responsive(src='images/blog/timeline/2.jpg', alt='')
                      .post-overlay
                        span.uppercase
                          a(href='#')
                            | 14 
                            br
                            small Feb
                  .post-content.overflow
                    h2.post-title.bold
                      a(href='blogdetails.html#') Advanced business cards design
                    h3.post-author
                      a(href='#') Posted by micron News
                    p
                      | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                    a.read-more(href='#') View More
                    .post-bottom.overflow
                      span.post-date.pull-left February 11, 2014
                      span.comments-number.pull-right
                        a(href='#') 3 comments
              .col-sm-6.padding-right.arrow-right.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                .single-blog.timeline
                  .single-blog-wrapper
                    .post-thumb
                      iframe(src='https://player.vimeo.com/video/95995577')
                  .post-content.overflow
                    h2.post-title.bold
                      a(href='blogdetails.html') Advanced business cards design
                    h3.post-author
                      a(href='#') Posted by micron News
                    p
                      | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                    a.read-more(href='#') View More
                    .post-bottom.overflow
                      span.post-date.pull-left February 11, 2014
                      span.comments-number.pull-right
                        a(href='#') 3 comments
          .timeline-blog.overflow
            .timeline-date.text-center
              a.btn.btn-common.uppercase(href='') Setember 2013
            .timeline-divider.overflow.padding-bottom
              .col-sm-6.padding-right.arrow-right.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                .single-blog.timeline
                  .single-blog-wrapper
                    .post-thumb
                      img.img-responsive(src='images/blog/timeline/3.jpg', alt='')
                      .post-overlay
                        span.uppercase
                          a(href='#')
                            | 14 
                            br
                            small Feb
                  .post-content.overflow
                    h2.post-title.bold
                      a(href='blogdetails.html') Advanced business cards design
                    h3.post-author
                      a(href='#') Posted by micron News
                    p
                      | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                    a.read-more(href='#') View More
                    .post-bottom.overflow
                      span.post-date.pull-left February 11, 2014
                      span.comments-number.pull-right
                        a(href='#') 3 comments
              .col-sm-6.padding-left.padding-top.arrow-left.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms')
                .single-blog.timeline
                  .single-blog-wrapper
                    .post-thumb
                      img.img-responsive(src='images/blog/timeline/4.jpg', alt='')
                      .post-overlay
                        span.uppercase
                          a(href='#')
                            | 14 
                            br
                            small Feb
                  .post-content.overflow
                    h2.post-title.bold
                      a(href='blogdetails.html') Advanced business cards design
                    h3.post-author
                      a(href='#') Posted by micron News
                    p
                      | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]
                    a.read-more(href='#') View More
                    .post-bottom.overflow
                      span.post-date.pull-left February 11, 2014
                      span.comments-number.pull-right
                        a(href='#') 3 comments
            .timeline-date.text-center
              a.btn.btn-common(href='#') See More
    // /#blog