extends ../layouts/default
include ../mixins/post
include ../mixins/latest-comments
include ../mixins/categories

block intro
	section#page-breadcrumb
		.vertical-center.sun
			.container
				.row
					.action
						.col-sm-12
							h1.title= data.category ? data.category.name : 'Blog'
							p Plenty of Ideas
	// /#page-breadcrumb
block content	
	section#blog.padding-top
		.container
			.row
				.col-md-9.col-sm-7
					.row
						each post in data.posts.results
							+post(post)
					.blog-pagination
						if data.posts.totalPages > 1
							ul.pagination
								if data.posts.previous
									li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.posts.pages
									li(class=data.posts.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
								if data.posts.next
									li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				.col-md-3.col-sm-5
					.sidebar.blog-sidebar
						.sidebar-item.recent
							h3 Comments
							if data.comments && data.comments.length
								+latest-comments(data.comments)
							else
								span No recent comments
						if data.categories.length
							+categories(data.categories, data.category)
						.sidebar-item.tag-cloud
							h3 Tag Cloud
							ul.nav.nav-pills
								li
									a(href='#') Corporate
								li
									a(href='#') Joomla
								li
									a(href='#') Abstract
								li
									a(href='#') Creative
								li
									a(href='#') Business
								li
									a(href='#') Product
						.sidebar-item.popular
							h3 Latest Photos
							ul.gallery
								li
									a(href='#')
										img(src='/images/portfolio/popular1.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular2.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular3.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular4.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular5.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular1.jpg', alt='')
	// /#blog
