extends ../layouts/default
include ../mixins/post
include ../mixins/latest-comments
block extrahead
	script(type='text/javascript').
		var switchTo5x=true;
	script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
	script(type='text/javascript').
		stLight.options({publisher: "7e8eb33b-fbe0-4915-9b93-09490e3d10df", doNotHash: false, doNotCopy: false, hashAddressBar: false});


block intro
	section#page-breadcrumb
		.vertical-center.sun
			.container
				.row
					.action
						.col-sm-12
							h1.title Blog Details
							p Blog with right sidebar
	// /#page-breadcrumb
block content
	section#blog-details.padding-top
		.container
			.row
				.col-md-9.col-sm-7
					.row
						+post(data.post,true)
				.col-md-3.col-sm-5
					.sidebar.blog-sidebar
						.sidebar-item.recent
							h3 Comments
							if data.comments && data.comments.length
								+latest-comments(data.comments)
							else
								span No recent comments
						if data.categories.length
							+categories(data.categories, data.category)
						.sidebar-item.tag-cloud
							h3 Tag Cloud
							ul.nav.nav-pills
								li
									a(href='#') Corporate
								li
									a(href='#') Joomla
								li
									a(href='#') Abstract
								li
									a(href='#') Creative
								li
									a(href='#') Business
								li
									a(href='#') Product
						.sidebar-item.popular
							h3 Latest Photos
							ul.gallery
								li
									a(href='#')
										img(src='/images/portfolio/popular1.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular2.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular3.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular4.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular5.jpg', alt='')
								li
									a(href='#')
										img(src='/images/portfolio/popular1.jpg', alt='')
	// /#blog
block js
	script.
		jQuery(function($) {			
			var comments = $('#comments');
			var input = $('.comment-field-input');
			var submit = comments.find('button[type=submit]');
			
			// Scroll to comments and focus input field
			function scrollToComments(e) {				
				e.preventDefault();				
				$('html, body').animate({ scrollTop: comments.offset().top }, 250);				
				input.eq(0).focus();
			}
			$('[href="#comments"]').click( scrollToComments );			
			
			// Check if field has content: enable/disable submit. Disable by default
			submit.attr('disabled','disabled');
			input.keyup(function() {
				if ($.trim($(this).val())) {
					submit.removeAttr('disabled');
				} else {
					submit.attr('disabled','disabled');
				}
			});
		});	
	script.
		function reply(data){			
			var comments = $('#comments-area');
			var input = $('#comment');
			$('html, body').animate({ scrollTop: comments.offset().top }, 250);		
			input.text("[quote author='" + data.data("author") + "']" + data.html() + "[/quote]\n");
			input.focus();
		}
