extends ../layouts/default
block intro    
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title Pricing Table
                p configure your pricing table
    // /#action
block content    
    section.container
      .price-table
        .row
          .col-sm-6.col-md-3
            .single-price.price-one
              .table-heading
                p.plan-name Basic Plan
                p.plan-price
                  span.dollar-sign $
                  span.price 29
                  span.month / Month
              ul
                li
                  | Lorem ipsum dolor 
                  span
                    i.fa.fa-check
                li
                  | Consectetur adipiscing 
                  span
                    i.fa.fa-times
                li
                  | Nulla pellentesque 
                  span
                    i.fa.fa-times
                li
                  | Integer quis risus 
                  span
                    i.fa.fa-check
                li
                  | Phasellus et metus 
                  span
                    i.fa.fa-times
                li
                  | Duis nec massa inter 
                  span
                    i.fa.fa-check
              a.btn.btn-buynow(href='#') Buy Now
          .col-sm-6.col-md-3
            .single-price.price-two
              .table-heading
                p.plan-name Silver Plan
                p.plan-price
                  span.dollar-sign $
                  span.price 89
                  span.month / Month
              ul
                li
                  | Lorem ipsum dolor 
                  span
                    i.fa.fa-check
                li
                  | Consectetur adipiscing 
                  span
                    i.fa.fa-times
                li
                  | Nulla pellentesque 
                  span
                    i.fa.fa-times
                li
                  | Integer quis risus 
                  span
                    i.fa.fa-check
                li
                  | Phasellus et metus 
                  span
                    i.fa.fa-times
                li
                  | Duis nec massa inter 
                  span
                    i.fa.fa-check
              a.btn.btn-buynow.btn-hightlight(href='#') Buy Now
          .col-sm-6.col-md-3
            .single-price.price-three
              .table-heading
                p.plan-name Glod Plan
                p.plan-price
                  span.dollar-sign $
                  span.price 29
                  span.month / Month
              ul
                li
                  | Lorem ipsum dolor 
                  span
                    i.fa.fa-check
                li
                  | Consectetur adipiscing 
                  span
                    i.fa.fa-times
                li
                  | Nulla pellentesque 
                  span
                    i.fa.fa-times
                li
                  | Integer quis risus 
                  span
                    i.fa.fa-check
                li
                  | Phasellus et metus 
                  span
                    i.fa.fa-times
                li
                  | Duis nec massa inter 
                  span
                    i.fa.fa-check
              a.btn.btn-buynow(href='#') Buy Now
          .col-sm-6.col-md-3
            .single-price.price-four
              .table-heading
                p.plan-name Platinum Plan
                p.plan-price
                  span.dollar-sign $
                  span.price 29
                  span.month / Month
              ul
                li
                  | Lorem ipsum dolor 
                  span
                    i.fa.fa-check
                li
                  | Consectetur adipiscing 
                  span
                    i.fa.fa-times
                li
                  | Nulla pellentesque 
                  span
                    i.fa.fa-times
                li
                  | Integer quis risus 
                  span
                    i.fa.fa-check
                li
                  | Phasellus et metus 
                  span
                    i.fa.fa-times
                li
                  | Duis nec massa inter 
                  span
                    i.fa.fa-check
              a.btn.btn-buynow(href='#') Buy Now
      // /#price-table
    section.container
      .price-table2
        .row
          .col-sm-6.col-md-3
            .single-table.table-one
              .table-header
                h2 Basic
                p.plan-price
                  span.dollar-sign $
                  span.price 29
                  span.month / Month
              ul
                li
                  | Lorem ipsum dolor 
                  span
                    i.fa.fa-check
                li
                  | Consectetur adipiscing 
                  span
                    i.fa.fa-times
                li
                  | Nulla pellentesque 
                  span
                    i.fa.fa-times
                li
                  | Integer quis risus 
                  span
                    i.fa.fa-check
                li
                  | Phasellus et metus 
                  span
                    i.fa.fa-times
                li
                  | Duis nec massa inter 
                  span
                    i.fa.fa-check
              span.btn-signup
                a(href='#') sign up
          .col-sm-6.col-md-3
            .single-table.table-two
              .table-header
                h2 Silver
                p.plan-price
                  span.dollar-sign $
                  span.price 89
                  span.month / Month
              ul
                li
                  | Lorem ipsum dolor 
                  span
                    i.fa.fa-check
                li
                  | Consectetur adipiscing 
                  span
                    i.fa.fa-times
                li
                  | Nulla pellentesque 
                  span
                    i.fa.fa-times
                li
                  | Integer quis risus 
                  span
                    i.fa.fa-check
                li
                  | Phasellus et metus 
                  span
                    i.fa.fa-times
                li
                  | Duis nec massa inter 
                  span
                    i.fa.fa-check
              span.btn-signup
                a(href='#') sign up
          .col-sm-6.col-md-3
            .single-table.table-three
              .table-header
                h2 Gold
                p.plan-price
                  span.dollar-sign $
                  span.price 299
                  span.month / Month
              ul
                li
                  | Lorem ipsum dolor 
                  span
                    i.fa.fa-check
                li
                  | Consectetur adipiscing 
                  span
                    i.fa.fa-times
                li
                  | Nulla pellentesque 
                  span
                    i.fa.fa-times
                li
                  | Integer quis risus 
                  span
                    i.fa.fa-check
                li
                  | Phasellus et metus 
                  span
                    i.fa.fa-times
                li
                  | Duis nec massa inter 
                  span
                    i.fa.fa-check
              span.btn-signup
                a(href='#') sign up
          .col-sm-6.col-md-3
            .single-table.table-four
              .table-header
                h2 Platinum
                p.plan-price
                  span.dollar-sign $
                  span.price 699
                  span.month / Month
              ul
                li
                  | Lorem ipsum dolor 
                  span
                    i.fa.fa-check
                li
                  | Consectetur adipiscing 
                  span
                    i.fa.fa-times
                li
                  | Nulla pellentesque 
                  span
                    i.fa.fa-times
                li
                  | Integer quis risus 
                  span
                    i.fa.fa-check
                li
                  | Phasellus et metus 
                  span
                    i.fa.fa-times
                li
                  | Duis nec massa inter 
                  span
                    i.fa.fa-check
              span.btn-signup
                a(href='#') sign up
      // /#price-table2