mixin book-event-student()
    p
      strong Your current credits balance is: 
      span.curr-balance
    p
      strong This class will be scheduled to 
        span.date
        | :
      br
      | from 
      strong: span.start
      |  to 
      strong: span.end
    p
      strong This will cost you: 
      spans.cost
    p
      strong 
        | Your balance in credits will be: 
      span.balance