include ../mixins/flash-messages
include ../mixins/profile-button

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		title= title || 'Bridges Cultural'

		//-link(href='css/lightbox.css', rel='stylesheet')
		//-link(href='css/main.css', rel='stylesheet')
		//-link(href='css/responsive.css', rel='stylesheet')
		link(href="/styles/site.min.css", rel="stylesheet")
		//-link(href='styles/bootstrap.min.css', rel='stylesheet')
		link(href='/styles/font-awesome.min.css', rel='stylesheet')
		link(href='/styles/animate.min.css', rel='stylesheet')
		//if lt IE 9
			script(src='js/html5shiv.js')
			script(src='js/respond.min.js')
		link(rel='shortcut icon', href='images/ico/favicon.ico')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/ico/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/ico/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/ico/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='/images/ico/apple-touch-icon-57-precomposed.png')
		block extrahead
	// /head
	body
		header#header
			.container
				.row
					.col-sm-12.overflow
						.social-icons.pull-right
							ul.nav.nav-pills
								li
									a(href='')
										i.fa.fa-facebook
								li
									a(href='')
										i.fa.fa-twitter
								li
									a(href='')
										i.fa.fa-google-plus
								li
									a(href='')
										i.fa.fa-dribbble
								li
									a(href='')
										i.fa.fa-linkedin
			.navbar.navbar-inverse(role='banner')
				.container
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							h1
								img(src='/images/logo.png', alt='logo')
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li(class={active: url === "/"})
								a(href='/') Home
							li.dropdown
								a(href='#')
									| Pages 
									i.fa.fa-angle-down
								ul.sub-menu(role='menu')
									li
										a(class={active: url === "/aboutus"} href='/aboutus') About
									li
										a(class={active: url === "/aboutus2"} href='/aboutus2') About 2
									li
										a(class={active: url === "/service"} href='/service') Services
									li
										a(class={active: url === "/pricing"} href='/pricing') Pricing
									li
										a(class={active: url === "/contact"} href='/contact') Contact us
									li
										a(class={active: url === "/contact2"} href='/contact2') Contact us 2
									if user
										li
											a(class={active: url === "/teachers"} href='/teachers') Teachers
										li
											a(class={active: url === "/students"} href='/students') Students												
									li
										a(href='404.html') 404 error
									li
										a(href='coming-soon.html') Coming Soon
							li.dropdown
								a(href='#')
									| Blog 
									i.fa.fa-angle-down
								ul.sub-menu(role='menu')
									li
										a(class={active: url === "/blog"} href='/blog') Blog Default
									li
										a(class={active: url === "/blogtimeline"} href='/blogtimeline') Timeline Blog
									li
										a(class={active: url === "/blogone"} href='/blogone') 2 Columns + Right Sidebar
									li
										a(class={active: url === "/blogthree"} href='/blogthree') 1 Column + Left Sidebar
									li
										a(class={active: url === "/blogmasonry"} href='/blogmasonry') Blog Masonary
									li
										a(class={active: url === "/blogdetails"} href='/blogdetails') Blog Details
							li.dropdown
								a(href='#')
									| Portfolio 
									i.fa.fa-angle-down
								ul.sub-menu(role='menu')
									li
										a(class={active: url === "/portfolio"} href='/portfolio') Portfolio Default
									li
										a(class={active: url === "/portfoliofour"} href='/portfoliofour') Isotope 3 Columns + Right Sidebar
									li
										a(class={active: url === "/portfolioone"} href='/portfolioone') 3 Columns + Right Sidebar
									li
										a(class={active: url === "/portfoliotwo"} href='/portfoliotwo') 3 Columns + Left Sidebar
									li
										a(class={active: url === "/portfoliothree"} href='/portfoliothree') 2 Columns
									li
										a(class={active: url === "/portfoliodetails"} href='/portfoliodetails') Portfolio Details
							li(class={active: url === "/shortcodes"})
								a(href='/shortcodes ') Shortcodes
							if user
								if user.canAccessKeystone
									li: a(href='/keystone') Open Keystone
								li.dropdown: +profile-button(user)
							else
								li: a(href='/keystone/signin') Sign In								
					.search
						form(role='form')
							i.fa.fa-search
							.field-toggle
								input.search-form(type='text', autocomplete='off', placeholder='Search')
		// /#header

		//- NOTE:
		//- There is no .container wrapping class around body blocks to allow more flexibility in design.
		//- Remember to include it in your templates when you override the intro and content blocks!

		//- The Intro block appears above flash messages (used for temporary information display)
		block intro

		//- Flash messages allow you to display once-off status messages to users, e.g. form
		//- validation errors, success messages, etc.
		+flash-messages(messages)

		//- The content block should contain the body of your template's content
		block content

		footer#footer
			.container
				.row
					.col-sm-12.text-center.bottom-separator
						img.img-responsive.inline(src='/images/home/under.png', alt='')
					.col-md-4.col-sm-6
						.testimonial.bottom
							h2 Testimonial
							.media
								.pull-left
									a(href='#')
										img(src='/images/home/profile1.png', alt='')
								.media-body
									blockquote Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.
									h3
										a(href='#') - Jhon Kalis
							.media
								.pull-left
									a(href='#')
										img(src='/images/home/profile2.png', alt='')
								.media-body
									blockquote
										| Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.
									h3
										a(href='') - Abraham Josef
					.col-md-3.col-sm-6
						.contact-info.bottom
							h2 Contacts
							address
								| E-mail: 
								a(href='mailto:someone@example.com') email@email.com
								br
								|						 Phone: +1 (123) 456 7890 
								br
								|						 Fax: +1 (123) 456 7891 
								br
							h2 Address
							address
								| Unit C2, St.Vincent's Trading Est., 
								br
								|						 Feeder Road, 
								br
								|						 Bristol, BS2 0UY 
								br
								|						 United Kingdom 
								br
					.col-md-4.col-sm-12
						.contact-form.bottom
							h2 Send a message
							form#main-contact-form(name='contact-form', method='post', action='sendemail.php')
								.form-group
									input.form-control(type='text', name='name', required='required', placeholder='Name')
								.form-group
									input.form-control(type='email', name='email', required='required', placeholder='Email Id')
								.form-group
									textarea#message.form-control(name='message', required='required', rows='8', placeholder='Your text here')
								.form-group
									input.btn.btn-submit(type='submit', name='submit', value='Submit')
					.col-sm-12
						.copyright-text.text-center
							p © Your Company 2014. All Rights Reserved.
							p
								| Designed by 
								a(target='_blank', href='http://www.themeum.com') Themeum
		// /#footer
		block footer
			script(type='text/javascript', src='/js/jquery/jquery-2.1.4.min.js')
			script(type='text/javascript', src='/js/bootstrap/bootstrap-3.3.5.min.js')
			script(type='text/javascript', src='/js/lightbox.min.js')
			script(type='text/javascript', src='/js/wow.min.js')
			script(type='text/javascript', src='/js/main.js')
			script(type='text/javascript', src='/js/bootstrap-notify.min.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Include template-specific javascript files by extending the js block
		block js
